<xml><eue_config>
<economic_settings>
<agreement>999111</agreement>
<username>foobarbidity</username>
<password>GOD</password>
<euroline_debtorno>3311777</euroline_debtorno>
<euroline_financeacc>5819</euroline_financeacc>
<euroline_feeacc>3628</euroline_feeacc>
</economic_settings>
<general>
<euroline_fee_percentage>5</euroline_fee_percentage>
</general>
</eue_config></xml>
